@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article {
  margin: 0;
  padding: 0;
}

html,
body, h2,
.tagline, h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2,
.tagline {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 2rem;
}

p,
span,
article {
  font-size: 1.6rem;
}

/* CONTAINERS */
.container {
  width: 100%;
}

.col-inline {
  display: inline-flex;
}

.col {
  display: flex;
  flex-direction: column;
}
.col .row-column {
  width: 100%;
}

.row-column {
  display: flex;
  flex-direction: column;
}

.row-inline {
  display: flex;
  flex-direction: row;
}

.flexbox-centered {
  align-items: center;
  justify-content: center;
}