@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
/* Breakpoints */
/*
** $breakpoint receive the breakpoint
** the media query checks if min-width is equal or larger than the breakpoint
** @content is all CSS property that has been sent when calling the mixin
*/
/* Define rounded design for any element with border 
*  Used in buttons (.btn-rounded)
*/
html,
body, h2,
.tagline, h4,
h5,
h6,
li, .btn, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-secondary, .btn-secondary:hover, .btn-secondary:active, .select {
  font-weight: 400;
  font-style: normal;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.display-flex, .btn, .btn-primary, .btn-secondary, nav ul, .container,
.container .col {
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 100%;
  margin: 120px auto 0px auto;
}
@media (min-width: 87.5em) {
  .main {
    width: 1200px;
  }
}
@media (min-width: 60em) {
  .main {
    width: 1000px;
  }
}

.container {
  flex-direction: row;
  width: 100%;
}
.container .col {
  flex-direction: column;
  width: 100%;
  padding: 2%;
  align-content: center;
  justify-content: center;
}
@media (min-width: 60em) {
  .container .col {
    flex-direction: row;
    justify-content: start;
    width: 98%;
    padding: 1%;
  }
  .container .col:not(:only-of-type) {
    width: 48%;
  }
  .container .col:not(:only-of-type):nth-last-child(3) {
    width: 31%;
  }
  .container .col:not(:only-of-type):nth-last-child(4) {
    width: 23%;
  }
  .container .col:nth-of-type(2) {
    width: 48%;
  }
  .container .col:nth-of-type(2):not(:last-of-type) {
    width: 23%;
  }
  .container .col:nth-of-type(2):not(:last-of-type):nth-last-child(2) {
    width: 31%;
  }
  .container .col:nth-of-type(3) {
    width: 31%;
  }
  .container .col:nth-of-type(3):not(:last-of-type) {
    width: 23%;
  }
  .container .col:nth-of-type(4) {
    width: 23%;
  }
}
@media (min-width: 87.5em) {
  .container .col {
    flex-direction: row;
    justify-content: start;
    width: 98%;
    padding: 1%;
  }
  .container .col:not(:only-of-type) {
    width: 48%;
  }
  .container .col:not(:only-of-type):nth-last-child(3) {
    width: 31%;
  }
  .container .col:not(:only-of-type):nth-last-child(4) {
    width: 23%;
  }
  .container .col:nth-of-type(2) {
    width: 48%;
  }
  .container .col:nth-of-type(2):not(:last-of-type) {
    width: 23%;
  }
  .container .col:nth-of-type(2):not(:last-of-type):nth-last-child(2) {
    width: 31%;
  }
  .container .col:nth-of-type(3) {
    width: 31%;
  }
  .container .col:nth-of-type(3):not(:last-of-type) {
    width: 23%;
  }
  .container .col:nth-of-type(4) {
    width: 23%;
  }
}

nav {
  width: 98%;
  padding: 0 1%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
nav ul {
  list-style: none;
  flex-direction: row;
  padding: 0;
  justify-content: left;
  align-items: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a:hover {
  font-weight: 700;
}
nav ul li:last-child {
  margin-left: auto;
}

.margin-padding-0, h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article, html,
body {
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 25px;
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

/* Fonts*/
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #a17007;
  transform: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article {
  text-align: center;
}
@media (min-width: 40em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  article {
    text-align: left;
  }
}

h1 {
  width: 100%;
  padding: 1%;
  font-size: 3.5rem;
}

h2,
.tagline {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6,
li {
  font-size: 2rem;
}

p,
span,
article,
label,
select {
  font-size: 1.6rem;
}

.small-text {
  font-size: 13px;
}

img {
  width: 100%;
  height: 300px;
}
img.img-cover {
  object-fit: cover;
  object-position: center center;
}
img.img-contain {
  object-fit: contain;
  object-position: center center;
}
@media (min-width: 40em) {
  img {
    height: 400px;
  }
}
img.logo {
  width: 100px;
  height: 100px;
}

/**
** Buttons
**/
button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn, .btn-secondary, .btn-primary {
  align-self: center;
  width: 250px;
  height: 50px;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  color: white;
  margin: 5px 0;
}
.btn:hover, .btn-secondary:hover, .btn-primary:hover {
  cursor: pointer;
  transition: all 0.4s;
}

.btn-primary {
  border: 1px solid #a17007;
  background-color: #a17007;
}
.btn-primary:hover, .btn-primary:active {
  background-color: white;
  color: #a17007 !important;
}

.btn-secondary {
  border: 1px solid #664875;
  background-color: #664875;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: white;
  color: #664875 !important;
}

.btn-check, fieldset,
select {
  padding: 5px 10px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  margin: 2%;
}

fieldset div {
  margin-bottom: 10px;
}

.select {
  width: 100%;
  text-align: center;
}
@media (min-width: 40em) {
  .select {
    text-align: left;
  }
}
.select select {
  outline: 0;
  min-width: 200px;
}

input[type=radio],
input[type=checkbox] {
  accent-color: #a17007;
}
input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
  color: #a17007;
}

/** Animations **/
div.col {
  animation: 0.3s ease-in-out both fade-in;
  -o-animation: 0.3s ease-in-out both fade-in;
  -moz-animation: 0.3s ease-in-out both fade-in;
  -webkit-animation: 0.3s ease-in-out both fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
* I’m using 9 placeholder elements so I set the loop to stop at 9
* and I’ve chosen an animation-delay which is based on 9. Because of
* this the animation will have a consistent rhythm and by the 9th nth-child
* the delay will be 0.5s (half the duration of this animation).
*/
div.col:nth-child(1) {
  animation-delay: 0.0555555556s;
}
div.col:nth-child(2) {
  animation-delay: 0.1111111111s;
}
div.col:nth-child(3) {
  animation-delay: 0.1666666667s;
}
div.col:nth-child(4) {
  animation-delay: 0.2222222222s;
}
div.col:nth-child(5) {
  animation-delay: 0.2777777778s;
}
div.col:nth-child(6) {
  animation-delay: 0.3333333333s;
}
div.col:nth-child(7) {
  animation-delay: 0.3888888889s;
}
div.col:nth-child(8) {
  animation-delay: 0.4444444444s;
}
div.col:nth-child(9) {
  animation-delay: 0.5s;
}