@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article {
  margin: 0;
  padding: 0;
}

html,
body, h2,
.tagline, h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Breakpoints */
/*
** $breakpoint receive the breakpoint
** the media query checks if min-width is equal or larger than the breakpoint
** @content is all CSS property that has been sent when calling the mixin
*/
.display-flex, .container,
.container .col {
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 87.5em) {
  .main {
    width: 1200px;
  }
}
@media (min-width: 60em) {
  .main {
    width: 1000px;
  }
}

h1 {
  width: 100%;
}

.container {
  flex-direction: row;
}
.container,
.container .col {
  width: 100%;
}
.container .col {
  flex-direction: column;
}
@media (min-width: 60em) {
  .container .col {
    flex-direction: row;
    width: 100%;
  }
}
@media (min-width: 87.5em) {
  .container .col {
    flex-direction: row;
    width: 100%;
  }
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2,
.tagline {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 2rem;
}

p,
span,
article {
  font-size: 1.6rem;
}