@use 'config' as *;

@mixin dynamicWidth() {
    width: 98%;
    padding: 1%;

    &:not(:only-of-type) {
        width: 48%;

        &:nth-last-child(3) {
            width: 31%;
        }

        &:nth-last-child(4) {
            width: 23%;
        }
    }

    &:nth-of-type(2) {
        width: 48%;

        &:not(:last-of-type) {
            width: 23%;

            &:nth-last-child(2) {
                width: 31%;
            }
        }
    }

    &:nth-of-type(3) {
        width: 31%;

        &:not(:last-of-type) {
            width: 23%;
        }
    }

    &:nth-of-type(4) {
        width: 23%;
    }
}



.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;

    div.bg-container:first-of-type,
    &>div.container:first-of-type {
        padding: 120px 0px;
    }
}





.container {


    flex-direction: row;
    width: 100%;
    background-color: inherit;
    position: relative;

    @include responsive($lg) {
        width: 1000px;
        margin: 0 auto;
    }

    &,
    .col {
        @extend .display-flex;

    }

    .col {
        flex-direction: column;
        width: 100%;
        padding: 2%;
        align-content: center;
        justify-content: center;




        @include responsive($lg) {
            flex-direction: row;
            justify-content: start;
            @include dynamicWidth;

            &.col-items-centered {
                justify-content: center;
            }

        }


    }


}

/* NAVBAR */
.modal {
    position: absolute;
    height: 100vh;
}

.display-mobile-only {
    @extend .display-flex;


    @include responsive($md) {
        display: none;
    }
}

.close-menu,
.open-menu {
    position: absolute;
    margin: 2%;
    font-size: 50px;
    @extend .display-mobile-only;
}

.open-menu {
    top: 0;
    left: 0;
}

.close-menu {
    top: 0;
    right: 0;
}

nav {

    width: 98%;
    padding: 0 1%;
    overflow: hidden;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 50px;
    background-color: $navbar-bg-color;

    @media (max-width: $md) {
        .navbar:target {
            transform: translateY(0);
            position: fixed;

        }
    }

    @include responsive($md) {
        height: auto;


    }



    ul {
        list-style: none;
        @extend .display-flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background-color: $navbar-bg-color;
        /* animate slide up/down */
        transform: translateY(-100%);
        transition: transform 0.2s ease;
        position: relative;
        left: 0;
        top: -16;
        height: 100vh;

        @include responsive($md) {
            flex-direction: row;
            justify-content: left;
            align-items: center;
            transform: translateY(0);
            height: 100%;
            top: 0;

            & li:last-of-type {
                margin-left: auto;

            }
        }

        li {
            margin: 0 15px;
            font-size: 16px;

            & a:hover {
                font-weight: 700;
            }

        }

    }
}

footer {
    position: relative;
    background-color: $secondary-color;
    height: 100px;
    width: 100%;
    padding: 2% 0;


}