/* Breakpoints */
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$md: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@mixin dynamicWidth() {
    width: 98%;
    padding: 1%;

    &:not(:only-of-type) {
        width: 48%;

        &:nth-last-child(3) {
            width: 31%;
        }

        &:nth-last-child(4) {
            width: 23%;
        }
    }

    &:nth-of-type(2) {
        width: 48%;

        &:not(:last-of-type) {
            width: 23%;

            &:nth-last-child(2) {
                width: 31%;
            }
        }
    }

    &:nth-of-type(3) {
        width: 31%;

        &:not(:last-of-type) {
            width: 23%;
        }
    }

    &:nth-of-type(4) {
        width: 23%;
    }
}

/*
** $breakpoint receive the breakpoint
** the media query checks if min-width is equal or larger than the breakpoint
** @content is all CSS property that has been sent when calling the mixin
*/
@mixin responsive($breakpoint) {
    @media (min-width: + $breakpoint ) {
        @content;
    }
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    margin: 0 auto;

    @include responsive($xl) {
        width: 1200px;
    }

    @include responsive($lg) {
        width: 1000px;
    }
}



.container {


    flex-direction: row;
    width: 100%;


    &,
    .col {
        @extend .display-flex;

    }

    .col {
        flex-direction: column;
        width: 100%;
        padding: 2%;
        align-content: center;
        justify-content: center;




        @include responsive($lg) {
            flex-direction: row;
            justify-content: start;
            @include dynamicWidth;

        }

        @include responsive($xl) {
            flex-direction: row;
            justify-content: start;

            @include dynamicWidth;

        }
    }


}