// Google Fonts : Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

//Variables
$font-family: "Poppins", sans-serif;
$dflt-font-size: 62.5%;

// Colors for fonts and other elements (badges, background, etc)
$primary-color: #000000;
$secondary-color: #664875;