@use 'config' as *;

@mixin dynamicWidth() {
    width: 98%;
    padding: 1%;

    &:not(:only-of-type) {
        width: 48%;

        &:nth-last-child(3) {
            width: 31%;
        }

        &:nth-last-child(4) {
            width: 23%;
        }
    }

    &:nth-of-type(2) {
        width: 48%;

        &:not(:last-of-type) {
            width: 23%;

            &:nth-last-child(2) {
                width: 31%;
            }
        }
    }

    &:nth-of-type(3) {
        width: 31%;

        &:not(:last-of-type) {
            width: 23%;
        }
    }

    &:nth-of-type(4) {
        width: 23%;
    }
}



.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    margin: 120px auto 0px auto;

    @include responsive($xl) {
        width: 1200px;
    }

    @include responsive($lg) {
        width: 1000px;
    }
}



.container {


    flex-direction: row;
    width: 100%;
    background-color: $general-bg-color;

    &,
    .col {
        @extend .display-flex;

    }

    .col {
        flex-direction: column;
        width: 100%;
        padding: 2%;
        align-content: center;
        justify-content: center;




        @include responsive($lg) {
            flex-direction: row;
            justify-content: start;
            @include dynamicWidth;

        }

        @include responsive($xl) {
            flex-direction: row;
            justify-content: start;

            @include dynamicWidth;

        }
    }


}

/* NAVBAR */
nav {

    width: 98%;
    padding: 0 1%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $general-bg-color;


    a>i {
        cursor: pointer;
    }

    ul {
        list-style: none;
        @extend .display-flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: center;


        li {
            margin: 0 15px;

            & a:hover {
                font-weight: 700;
            }

        }



        @include responsive($md) {
            flex-direction: row;
            justify-content: left;
            align-items: center;

            & li:last-child {
                margin-left: auto;

            }
        }
    }
}

.modal {
    position: absolute;
    height: 100vh;
}

.display-mobile-only {
    @extend .display-flex;


    @include responsive($md) {
        display: none;
    }
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    font-size: 50px;
    @extend .display-mobile-only;
}