@use 'config' as *;
@use 'fonts' as *;
@use 'containers' as *;

html,
body {
    font-size: $dflt-font-size;
    font-family: $font-family;
    @extend %font-regular;
    @extend %margin-padding-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article {
    @extend %margin-padding-0;
}

h1 {
    font-size: 3.5rem;
    @extend %font-bold;

}

h2,
.tagline {
    font-size: 2.5rem;
    @extend %font-regular;
}

h3 {
    font-size: 2rem;
    @extend %font-bold;
}


h4,
h5,
h6 {
    font-size: 2rem;
    @extend %font-regular;
}

p,
span,
article {
    font-size: 1.6rem;
}



/** Animations **/

%fade-in {
    animation: .3s ease-in-out both fade-in;
    -o-animation: .3s ease-in-out both fade-in;
    -moz-animation: .3s ease-in-out both fade-in;
    -webkit-animation: .3s ease-in-out both fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin fadeInAnimation($className) {

    @for $i from 1 through 9 {
        #{$className} {

            &:nth-child(#{$i}) {

                animation-delay: $i * (1s / 18);
            }
        }
    }
}

.col {
    @extend %fade-in;
    @include fadeInAnimation('&');
}